# Prerequisites
*.d

**build/**
**bin**
catkin_ws/build


**workspace**
**vscode**
# Compiled Object files
*.slo
*.lo
*.o
*.txt
*.obj

**devel**

catkin_ws/src/CMakeLists.txt


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
